body {
    background-color: black;
    color: white;
    font-family:'Times New Roman', Times, serif;
}
.header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    width: auto;
}
.details {
    text-align: left;
    font-size: 1.2rem;
    margin-top: 20px;
}
.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: gray;
}
.link-box {
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
    min-height: 50px;
    color: orange;
}
a{
    text-decoration: none;
    color: dodgerblue;
}
a:hover{
    color: orangered;
}
